<h3>Floooky</h3>
<h4>where life happens</h4>
<p>floooky is your window into what's possible, what's in-person and what's
  happening around you</p>
<p>floooky brings together sense of community which is focused on living the
  life to it's fullest. It is build on the premise of joy of human interaction
  while eliminating the cumburosme barriers that come along with planning and
  hosting. with floooky, you can do it all with few clicks and carry on living
  in the present. it creates oppportunities for you to easily interact with
  people around you and sharing some amazing experiences</p>