<h2>Add a contact</h2>

<form method="post" action="/contacts/add">

  <label>First Name</label>
  <input name="firstName" />
  <label>Last Name</label>
  <input name="lastName" />
  <label>Email</label>
  <input name="email" />
  <label>Phone Number</label>
  <input name="phoneNumber" />

  <button type="submit">Add as a new Contact</button>
</form>

<p>{{message}}</p>