<h2>Edit your events here</h2>

<form method="post" action="/events/{{foundRoom._id}}/edit">

  <label>name</label>
  <input name="name" value="{{foundEvent.name}}" />
  <label>description</label>
  <input name="description" value="{{foundEvent.description}}" />

  <button type="submit">Edit Event</button>
</form>

<p>{{message}}</p>