<h2>Edit your contacts here</h2>

<form method="post" action="/contacts/{{foundContact._id}}/edit">

  <label>name</label>
  <input name="name" value="{{foundContact.name}}" />
  <label>description</label>
  <input name="description" value="{{foundContact.description}}" />

  <button type="submit">Edit Contact</button>
</form>

<p>{{message}}</p>