<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/feed.css' />
    <script src="https://kit.fontawesome.com/8b6a2d5294.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container yellow pullUp">
<img src="/images/floooky-logo.png" alt="" width="auto" height="50">
<a href="/">home</a>
<a href="/contacts/my-contacts">myContacts</a>
<a href="/events/my-events">myEvents</a>
<a href="">searchEvents</a>
<a href="">oneMessenger</a>

<a href="/users/signup">signUp</a>
<a href="/users/login">logIn</a>
<a href="/users/logout">logOut</a>
    </div>

    {{{body}}}
  </body>
</html>
