<h2>Sign up</h2>

<form method="post" action="/users/signup">

  <label>Email</label>
  <input name="email" value="test@test.com" />
  <label>Select a Password</label>
  <input name="password" value="password" />
  <label>First Name</label>
  <input name="firstName" value="testuser" />
  <label>Last Name</label>
  <input name="lastName" value="testuser" />

  <button type="submit">Create User</button>
</form>

<p>{{message}}</p>