body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* NAV BAR */
@import "https://fonts.googleapis.com/css?family=Raleway";

html,
body {
  margin: 0px;
}

header,
footer {
  font-family: Raleway;
  margin: 0 auto;
  padding: 5em 3em;
  text-align: center;
  background: #555;
}

header h1 {
  color: #aaa;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
}

footer span {
  color: #f16775;
}

div.container {
  font-family: Raleway;
  margin: 0 auto;
  padding: 2em 3em;
  text-align: center;
}

div.container a {
  color: #fff;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.yellow {
  background: #ffbf00;
}

/* Pull up  */
div.pullUp a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  content: "";
  background: #fff;
  opacity: 0.3;
  transition: all 0.3s;
}

div.pullUp a:hover:before {
  height: 100%;
}

/* Feed */
.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

/* SEARCH BAR */
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search-icon {
  position: absolute;
  top: 17px;
  left: 19px;
  width: 14px;
}

/* .clear-icon {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
  }
  
  .search:hover, .search:focus {
    border: 1px solid #009688;
    background-color: white;
  } */

.btn-submit {
  width: 200px;
  height: 47px;
  color: #fff;
  line-height: 10px;
  font-size: 1.3rem;
  padding: 5px 30px 8px 30px;
  border-radius: 40px 5px 40px 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #ffbf00;
  border-color: #ffbf00;
  border: 0;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-color-red {
  background-color: rgb(236, 60, 81);
}

/* FEED */
.centre-align {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.event-title {
  font-size: x-large;
  color: tomato;
}

.feed-border {
  border: 5px solid #f39c9c;
  border-radius: 40px 5px 40px 5px;
  padding: 5px 30px 8px 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.share-link {
  width: 90px;
  height: auto;
}
